body {
    font-family: Arial;
    margin: 0;
    background-color: #f2f7f3;
    color: #222222;
}

header {
    background-color: #176b3a;
    padding: 25px;
    text-align: center;
}

header h1 {
    color: white;
    margin: 0 0 20px 0;
}

nav {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

nav a:hover {
    background-color: #0f4d2a;
}

main {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

section {
    background-color: white;
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 10px;
}

h2 {
    color: #176b3a;
}

p {
    font-size: 16px;
    line-height: 1.6;
}

footer {
    background-color: #176b3a;
    color: white;
    padding: 20px;
    text-align: center;
}